<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- 1:Database connection settings -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <!--2:other configure -->
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">none</property>
  <property name="hibernate.validator.apply_to_ddl">false</property> 
  <property name="hibernate.validator.autoregister_listeners">false</property>
  <!-- 3：mapping files -->
  <mapping class="com.zwkj.soqs.po.OrderInfo"/>
  <mapping class="com.zwkj.soqs.po.SalaryInfo"/>
  <mapping class="com.zwkj.soqs.po.TeacherInfo"/>
  <mapping class="com.zwkj.soqs.po.AdminInfo"/>
 </session-factory>
</hibernate-configuration>
